# Instalar tudo
# pip install -r requirements.txt

# Atualizar tudo (cuidado: pode quebrar versões)
# pip install --upgrade -r requirements.txt

schedule
joblib
numpy
pandas
requests
urllib3
openpyxl
scikit-learn
customtkinter
fastapi
uvicorn[standard]
opencv-python